[report]
omit = 
        iReporter/venv/*
        */venv/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        */home/travis/virtualenv/*
        */__init__.py 
        tests/base_test.py
        tests/test_users.py
        run.py
        tests\test_incidents.py 