language: python
python:
  - "3.6"

env:
  global:
    - DATABASE_NAME = 'ireporter_test'

services:
  - postgresql

before_script:
  - "psql -c 'create database ireporter_test;' -U postgres"

install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - pytest --cov
  - coverage

after_sucess:
  - coveralls
